/*---------------------------------
		Color Variables
-----------------------------------*/
//lightmode
$brightBlue: #0fbdbd;
$brightPurple: #be77df;
$grey: #424242;


//neutral 
$black: #171717;
$white: #ffffff;



//halloween mode
$orange: #DB4500;
$purple: #330080;
$darker: #000000;
